<div class="row bottom-0" style="margin:10px;height:100%">
	<div class="col s12">
		<div class="title-top">Combustíveis</div>
	</div>
	<div class="col s12">
		<div class="row bottom-0">
			<div class="col s12 m6" ng-repeat="combustivel in combustiveis">
				<div class="card">
		            <div class="card-image">
		              <img src="{{combustivel.foto}}">
		              <span class="card-title textshadow">{{combustivel.nome}}</span>
		            </div>
		        </div>
			</div>
		</div>
	</div>
</div>