<div class="row bottom-0" style="margin:0px;padding:10px;height:100%;background:#ffb74d">
	<div class="col s12" style="text-align:center">
		<img src="img/logo.png" width="15%">
	</div>
	<div class="col s12" style="padding: 50px 20px;text-align:justify">
		&emsp;&emsp;O Enche o Tanque é uma ferramenta criada para auxiliar você na hora de abastecer o seu veiculo, aqui tem todas as informações de todos os veículos que rodam no território brasileiro, com características de consumo para cada modelo, todos com suas particularidades. <br><br>
	&emsp;&emsp;Além disso, o Enche o Tanque vai sempre atualizar você do preço do combustível de todos os postos do país que estão cadastrados na ANP, agência nacional do petróleo. Com isso o usuário pode pesquisar o melhor local para abastecer e saberá o preço antes de sair de casa. Não precisa mais rodar para achar um posto de combustível com o melhor preço da região, agora o Enche o Tanque faz isso pra você! <br><br>
	&emsp;&emsp;A Universe Developer é a empresa responsável pelo desenvolvimento do Enche o Tanque, uma iniciativa recente e inovadora, que tem como principal objetivo aproximar as pessoas dos recursos tecnológicos disponíveis. 

	</div>
	<div class="col s4" style="text-align:center">
		<img src="https://dhg1h5j42swfq.cloudfront.net/2015/11/05084631/2000px-ANP.svg_.png" width="40%">
	</div>
	<div class="col s4" style="text-align:center">
		<img src="https://lh3.googleusercontent.com/aTEoga-Q8UQBDmmcSDVarhWdLmQedXAZdAjjfdZ8cRHVJnD6W2QTITqK34EaHuqG4T6aWb8MlUFSO8uxluRe8X42XGZGbe0YgMS4HOHkQz18PXE72lJR2iC-8X74c0THYWI5PdCmkMjhpIgvvVQutsyFWn1TbZwy9cCN2z_MazAxRQLAlNPk_Nh4spxS4IyGl19benFSGI7SQMcL-Yd_zpivwxcVvgkdAmUndMMg08Nqo4W-3XZ3mDvBqLPph4YMcTwcK1xnktKE_7BL7DWrPeEVjKZv1YP5vWz6z6WT06q9ufO2bXls11riyMVDm3EaquWEBt2o9eEHUeAlGSD4uOwhuZsKYz2V9h1Uh7zA5FKLiYLIGxGl0FDDoFywyklNzzrRoSTr-DO7Oxvr5GFLlNtgkK9wbYQpLqRDna5hbXHsQEeFOZ0j10qFIewSvOXlrY_q3kTBZ1dv6s8LWWahvIF6uNBUOgZ0XmfDBj5JJFzjiNCCK-ofPlHb90qq0OXegB4ScHWgqq49ae18sikqEQ0n1sC8nZrgIFWCj0nS8ixcmR0X1aYb_fp0sQDROENvAY6GpOPJwJWDRXShW1J-mU8NUuiLIEHRbmSAOnUQDiqH7ygX=w1366-h574-no" width="40%">
	</div>
	<div class="col s4" style="text-align:center">
		<img src="http://www.ed.conpet.gov.br/images/conpet-logotipo.png" width="40%">
	</div>
</div>